.active {
  opacity: 1;
}
/* .MuiCardHeader-title {
  font-size: 45px;
} */

.MuiCardHeader-subheader {
  text-align: right;
  color: white;
}
.MuiGrid-container {
  display: "flex";
  align-items: "center";
  font-size: 30;
  text-align: center;
}
.MuiImageListItem-standard {
  border-radius: "25px";
}

.countdown {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 90%;
}

@media all and (max-width: 1150px) {
  .countdown {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 90%;
  }
}

.thumbnail {
  position: relative;
}

.caption {
  position: absolute;
  top: 70%;
  left: 1%;
  text-align: left;
  color: white;
  font-weight: bold;
  font-size: 40px;
}

@media all and (max-width: 1166px) {
  .caption {
    top: 70%;
    font-size: 32px;
    text-align: center;
  }
}

@media all and (max-width: 500px) {
  .caption {
    top: 63%;
    font-size: 23px;
    text-align: center;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  text-align: left;
  padding-top: 10px;
  width: 50%;
}

/*
 * Spinner derived from https://tobiasahlin.com/spinkit/.
 */

/*
 * Spinner derived from https://tobiasahlin.com/spinkit/.
 */

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2s infinite linear;
  animation: sk-rotate 2s infinite linear;
}

.dot1,
.dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #cc6a4f;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
